<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>She wants to code as well</h1>
    <p>I'm going to teach her the few things I learned here :)</p>
    <!-- <img src="/images/cool.jpg" height="720" width="1000" />
    <br>
    <img src="/images/park.jpg" height="720" width="1000" /> -->
    <br>
    <a href="/">Back to Home</a>
  </body>
</html>