<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Surprise</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>I wanted to introduce you to someone!</h1>

    <a href="/astrid">Meet {{name}}</a>
    <br>
    <a href="/about">About</a>
  </body>
</html>